:root {
    --clr-primary-100: #FFFFFF;
    --clr-primary-200: #989898;
    --clr-primary-900: #000000;

    --ff-primary: garamond, georgia;
}

body,
h1,
h2,
h3,
p {
    margin: 0;
    color: var(--clr-primary-100);
}

body {
    display: flex;
    flex-direction: column;
    font-family: var(--ff-primary);
    font-weight: 400;
    font-size: 1.3125rem;
    line-height: 1.6;
    height: 100vh;
}

.hsbox {
    width: 100%;
    max-width: 550px;
    background: rgba(225, 225, 225, 0.2);
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 3px 7px;
    margin-top: 7px;
}

.hsbox input {
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 13px 20px;
    font-size: 20px;
    color: #FFFFFF;
}

::placeholder {
    color: #FFFFFF;
}

.hsbox button img{
    width: 25px;
}

.hsbox button {
    border: 0;
    border-radius: 50%;
    padding: 6px;
    opacity: 50%;
    cursor: pointer;
}

.s1 {
    padding: 3rem 0;
    margin-inline: auto;
    width: min(90%, 70.5rem);
    text-align: center;
    display: flex;
    flex: 1; 
    align-items: center;
    justify-content: center;
}

.hlbox {
    display: flex;
    flex-direction: column; 
    justify-content: center;
}

.header {
    display: flex;
    justify-content: space-around;
    background-color: #0003;
    padding-bottom: 7px;
}

.footer {
    background-color: var(--clr-primary-900); 
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.fl {
    margin-left: 20px;
}

.picbox {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-image: url(img/img.jpeg);
    background-position: center;
    background-size: cover;
    flex: 1;
}

.hlogo {
    max-width: 80px;
}


.s1b {
    padding: 20px;
    margin-top: 13px;
    font-weight: 600;
    border-radius: 5px;
    border: 0px;
}

.hibox {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.hlink {
    margin-right: 5px;
}

.hb1 {
    border: 0px;
}



/* how do i put a shaded area across the header*/