:root {
    --clr-primary-100: #FFFFFF;
    --clr-primary-200: #989898;
    --clr-primary-900: #000000;

    --ff-primary: georgia, garamond;
}


body,
h1,
h2,
h3,
p {
    margin: 0;
    font-family: var(--ff-primary);
}

.picbox {
    width: 100%;
    min-height: 100vh;
    padding: 5%;
    background-image: url(img/img.jpeg);
    background-position: center;
    background-size: cover;
}

.hlogo,
.search {
    max-width: 80px;
}
